.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    border: 1px solid black;

    .about-title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .about-container {
        display: flex;
        width: 100%;
        margin-top: 30px;

        .model-container {
            width: 50%;
            margin: 0 50px;

            .model-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center
            }
        }

        .about-content {
            width: 50%;
            border: 1px solid black;
            margin: 0 50px;

            .education {
                display: flex;
                align-items: center;

                .education-description {
                    font-weight: bolder;
                    font-size:1.2rem;
                }

                .education-institution {
                    font-size: 1rem;
                }

                .education-year {
                    font-size: 0.9rem;
                    color: gray;
                }

                img {
                    width: 100px;
                    height: auto;
                }
            }

            .skills-section {
                margin-top: 20px;
                width: 100%;
                border: 1px solid black;

                .main-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .skills-categories {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

                    .category-section {
                        border: 1px solid black;
                        margin: 10px;

                        .title {
                            font-size: 1rem;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }

                        .skills-grid {
                            display: flex;
                            flex-wrap: wrap;

                            .skill-icon {
                                width: 50px;
                                height: 50px;
                                margin: 5px;
                                font-size: 2rem;
                                border: 1px solid black;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}